{% extends "split_header_template.html" %}
{% load django_metatagging_tags %}

{% block content_header %}
    <div class='tabbed_header_wrapper'>
        <h1 class='tabbed_sort_header'>Django Apps</h1>
        <a href='{% url applications-contribute-app %}'><div class='contribute'>Add App</div></a>
        <div id='code_sort' class='tabbed_sort_wrapper'>
            {% include "applications/elements/order.html" %}
        </div>
        <div class='clear'></div>
    </div>
{% endblock %}

{% block main_content %}
    <div id='code_wrapper' class='content_wrapper'>
        {% for app in current_page.object_list %}
            {% include "applications/elements/app_row.html" %}
        {% endfor %}
        {% include "django_utils/pagination/pagination.html" %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class='right_wrapper'>
        {% include "sidebar/apps.html" %}
        {% cloud_for_model app_content_type %}
    </div>
{% endblock %}