<div id='contribution_guidelines' class='info_sidebar'>
    <h2>Guidelines</h2>
    <ul>
        <li><a href='{% url info-markdown %}'>Markdown</a> can be used in all textareas.</li>
        <li>Add content to the appropriate section.</li>
        <li>Ask questions that concern Django.</li>
        <li>Use informative tags so other users can find the content that you post.</li>
        <li>Refrain from duplicating content that already exists on the site.</li>
        <div class='clear'></div>
    </ul>
</div>