{% extends "split_header_template.html" %}

{% block content_header %}
    <h2>Contribute</h2>
{% endblock %}

{% block main %}
    <div class='left_wrapper'>
        <div class='content'>
            <div id='contribute_list'>
                <a href='{% url qa-ask %}'>Ask Question</a>
                <a href='{% url applications-contribute-app %}'>Add App</a>
                <a href='{% url code-contribute-code %}'>Post Code</a>
                <a href='{% url tutorials-contribute-tutorial %}'>Submit Tutorial</a>
            </div>
        </div>
        <div class='clear'>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class='right_wrapper'>
        {% include "sidebar/contribute_guidelines.html" %}
    </div>
{% endblock %}