{% extends "split_header_template.html" %}
{% load javascript %}

{% block content_header %}
    <h2>Ask Question</h2>
{% endblock %}

{% block main_content %}
   <div class='content_wrapper'>
        <form class='contribute_form' action='' method='POST'>
            {{form.as_div}}
            <div class='submit_row'>
                <input type='submit' value='Post Question' name='submit' class='submit'>
            </div>
        </form>
        {% wmd id_question question_form_wmd_preview %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class='right_wrapper'>
        {% include "sidebar/contribute_guidelines.html" %}
    </div>
{% endblock %}
