{% load ajax %}
{% load overlay %}
{% load reputation_access_control %}
{% load modcontext %}

{% static_with edit_ model _ node.id as link_id %}
{% if PERMISSIONS.edit %}
    <a id='{{link_id}}' href='{{edit_url}}' class='img_link action edit_content'> edit </a>
{% else %}
    <a id='{{link_id}}' class='img_link denied_action edit_content' rel='#reputation_overlay' title="You do not have enough reputation to access this action."> edit </a>
    {% reputation_overlay link_id %}
{% endif %}
{% endstatic_with %}