{% load compressed %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>{% block title %}Django360{% endblock %}</title>
<meta name="description" content="Django360 is a knowledge sharing site for the Django web framework." />
{% compressed_css 'standard' %}
<link href="/static/wmd/wmd.css" rel="stylesheet" type="text/css" /> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
{% compressed_js 'standard' %}
<script src="{{STATIC_URL}}js/jquery.tools.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/init_weapons.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}wmd/showdown.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}wmd/wmd.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/create_wmd.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}thickbox/thickbox.js" type="text/javascript"></script>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}

<body>
    {% block overlays %}
       {% include "overlays/reputation_overlay.html" %}
    {% endblock %}
    <div id='doc2' class='wrapper'>
        <div id='main_content'>
            <div id='hd' class='wrapper'>
                {% include "headers/header.html" %}
            </div>
            <div id='bd' class='wrapper'>
                {% block content %}
                {% endblock %}
            </div>
            <div class='base_spacing'>
            </div>
            <div id='ft' class='wrapper'>
                {% include "headers/footer.html" %}
            </div>
        </div>
        <div class='clear'>
        </div>
    </div>
</body>
