{% extends "base.html" %}

{% block content %}
<div class='content yui-t4'>
    <div id='content_header'>
        {% block content_header %}
        {% endblock %}
    </div>
    <div id="yui-main"> 
        <div class="main yui-b">
            {% block main %}
                <div class='left_wrapper'>
                    <div class='content'>
                        {% block main_content %}
                        {% endblock %}
                    </div>
                    <div class='clear'>
                    </div>
                </div>
            {% endblock %}
        </div> 
    </div> 
    <div class="yui-b">
        {% block sidebar %}
        {% endblock %}
    </div> 
</div>
{% endblock %}
