<div id='footer'>
    <ul class='links'>
        <li><a href='{% url info-about %}'>about</a></li> |
        <li><a href='{% url info-tos %}'>terms of service</a></li> |
        <li><a href='{% url info-privacy %}'>privacy policy</a></li> |
        <li><a href='{% url info-faq %}'>faq</a></li> |
        <li><a href='{% url info-contact %}'>contact us</a></li> |
        <li><a href='{% url info-feedback %}'>feedback</a></li>
    </ul>
    <div class='attribution'>
        <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/"><img alt="Creative Commons License" style="border-width:0" src="http://creativecommons.org/images/public/somerights20.png" /></a>
    </div>
    <div class='copyright'>
        site design and logo is © 2009 Hanbox LLC, all user contributed content is licensed under <a href='http://creativecommons.org/licenses/by-sa/2.5/'>cc-wiki</a>
    </div>
</div>
