{% load markup %}
{% load django_multivoting_tags %}
{% load django_tracking_tags %}
{% load comment_tags %}
{% load gravatar %}

{% with question_content_type as node_content_type %}
{% with question as node %}
<div class='object_row'>
    <div class='stats'>
        <div class='votes'>
            <p>{% popularity question %}</p>
            votes
        </div>
        <div class='views'>
            <p>{{question.answers.all.count}}</p>
            answers
        </div>
    </div>
    <div class='info'>
        <div class='title'>
            <a href='{% url qa-view-question question.id %}'>{{question.name}}</a>
        </div>
        {% include "shared/additional_stats.html" %}
        <div class='author'>
            {% with node.user as current_user %}
                {% include "shared/user_info_small.html" %}
            {% endwith %}
            <div class='date_info_small'>asked {{node.date_created|timesince}} ago</div>
        </div>
        {% with question.tags.all as tags %}
            {% include "django_metatagging/horizontal_tag_list.html" %}
        {% endwith %}
    </div>
</div>
{% endwith %}
{% endwith %}
