{% extends "split_header_template.html" %}
{% load django_metatagging_tags %}

{% block content_header %}
    <div class='tabbed_header_wrapper'>
        <h1 class='tabbed_sort_header'>Code Snippets</h1>
        <a href='{% url code-contribute-code %}'><div class='contribute'>Post Code</div></a>
        <div id='code_sort' class='tabbed_sort_wrapper'>
            {% include "code/elements/order.html" %}
        </div>
        <div class='clear'></div>
    </div>
{% endblock %}

{% block main_content %}
    <div id='code_wrapper' class='content_wrapper'>
        {% for code in current_page.object_list %}
            {% include "code/elements/code_row.html" %}
        {% endfor %}
        {% include "django_utils/pagination/pagination.html" %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class='right_wrapper'>
        {% include "sidebar/code.html" %}
        {% cloud_for_model code_content_type %}
    </div>
{% endblock %}