{% load reputation_access_control %}
{% load modcontext %}
{% load ajax %}

<div class='vote'>
{% static_with vote_up_ model _ node.id as link_id %}
{% if PERMISSIONS.vote_up %}
        <a id='vote_up_{{model}}_{{node.id}}' title='#' href='#'
            data="{target:'{{model}}_{{node.id}}_vote_wrapper', 
            link:'{% url vote node_content_type, node.id, "up", vote_class %}'}">
            <img src='{{STATIC_URL}}img/vote-arrow-up.png'></img>
        </a>
    {% ajax_update link_id %}
{% else %}
   <a id='vote_up_{{model}}_{{node.id}}' title='#' href='#' rel='#reputation_overlay'>
        <img src='{{STATIC_URL}}img/vote-arrow-up.png'></img>
    </a>
    {% update_deny_message link_id reputation_overlay_content vote_up %}
    {% reputation_overlay link_id %}
{% endif %}
{% endstatic_with %}
</div>